.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--background-color);
}

.app-root {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}
